// base

html {
  font-size: $font-size-base;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3 {
  // font-family: $font-title;
  font-weight: normal;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  &:link,
  &:visited {
    // color: $link-color;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

input {
  border: none;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $marge;
}
