
$max-width:  968px;
$bp-tablet:  768px;
$bp-desktop: 968px;
$marge:      15px;



$terre:  #bfa278;
$marron: #957952;
$argile: #9FA191;
$bleu:   #1C2A33;
$blanq:  #E2DDC7;
$white: #ffff;

$txt-tab:        1.25rem;
$txt-btn:        0.875rem;
$sm-title:       1.125rem;
$lg-title:       2.5rem;
$font-size-base: 87.5%;
$text:           1.875rem;
$font:           'futura';
